@import "tailwindcss";

body {
    color: white;
    background-color: black;
    font-family: 'Inter', sans-serif;
}
.card ul {
  list-style: disc;       /* ✅ Show bullets */
  padding-left: 15px;     /* ✅ Add space for bullets */
}





